<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dododo.mapper.FamilyMapper">
    <insert id="insertFamilyMember" parameterType="org.dododo.entity.family" >
        insert into family (name, hometown) values (#{name}, #{hometown})
    </insert>
    <delete id="deleteFamilyMember">
        delete from family where name = #{name}
    </delete>

    <select id="getByName" resultType="org.dododo.entity.family">
        select * from Expense.family where name = #{name}
    </select>
</mapper>